<div>
    <table class="table table-responsive">
        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr ng-repeat="i in vm.products">
            <td><img ng-src="images/{{i.imageURL}}" style="width:128px;height:128px;"></td>
            <td id="productName">{{ i.name }}</td>
            <td id="productPrice">${{ i.price }}</td>
            <td><a ng-href="#/detail/{{i.prodId}}" class="btn btn-success">View Product Details</a></td>
        </tr>
    </table>
</div>